body{
  color:white;
}
h1{
  color:#77c3e7;
  font-family:"Dancing Script", Arial, Helvetica, sans-serif;
}

//#everything{
//  float:center;
//  width:90%;
//  color:grey;
//}
.buttonRow{
  color:grey
}
