
body {
    color:grey;
    font-family:Helvetica, Arial, sans-serif;
}

h1 {
    font-family:dancing_script,Helvetica, Arial, sans-serif;
    color:#77c3e7;
}

iframe {
    width:100%;
}

.pictueBox {
    height:60px;
    background-image: url('/img/bluemountains_2560x1600.jpg');
    border-color:white;
}

.buttonRow {
    border-color:white;
    border-style:solid;
    color:grey;
    height: 50px;
}

.mainBtns {
    border-color:white;
    border-style:solid;
    margin: 0 0 0 0;
    padding: 0 5 0 5;
    max-width: 25%;
}

.mainBtns:hover {
    background-color:black;
    color:white;
}

.mainBtns:active {
    background-color:black;
}

.content {
    background-color:white;
    color:black;
    min-height: 400px;
    padding-top:1%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.left {
    text-align:left;
}
.block {
    display:block;
}
