@font-face { font-family: DancingScript; src: url('/fonts/DancingScript-Regular.otf'); }

body {
  color:white;
}

h1 {
  color:#77c3e7;
  font-family:DancingScript,Helvetica, Arial, sans-serif;
}

#case {
  margin: 0 5% 0 5%;
  float:center;
  color:grey;
}

#content {
  background-color:white;
}

.buttonRow {
  color:grey;
}

.mainBtns {
  border: 1px solid white;
  width:25%;
}

iframe {
  float:center;
}
