
body {
    color:grey;
    font-family:Helvetica, Arial, sans-serif;
}

h1 {
    font-family:dancing_script,Helvetica, Arial, sans-serif;
    color:#77c3e7;
}

iframe {
    width:100%;
}

.pictureBox {
    height:100px;
    background-image: url('/images/weebly_banner.jpg');
    background-color:white;
    filter:none;
}

.buttonRow {
    border-color:white;
    border-style:solid;
    color:grey;
    padding: 10;
}

.mainBtns {
    padding: 10 30;
}

.mainBtns:hover {
    background-color:black;
    color:white;
}

.mainBtns:active {
    background-color:black;
}

.content {
    background-color:white;
    color:black;
    min-height: 300px;
    padding-top:1%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.left {
    text-align:left;
}
.block {
    display:block;
}
