
h1 {
  color: green
}

.case {
  width:50%;
  border: 5px solid gray;
  border-radius:15px;
  padding: 1%;
  margin: 0 25% 0 25%;
  background-color: dark-gray;
  color: darkblue;
  text-align: center
}

fieldset {
  margin: 3px 40% 3px 40%;
  width: 20%
}
