body {
  font-family:fantasy;
  text-align: center;
}

.block{
  border: 2px solid black;
  border-radius: 15px;
  padding: 1%;
  margin: 1% 30% 1% 30%;
  background-color:lightgrey;
}

.block_mobile{
    border: 2px solid black;
    border-radius: 15px;
    padding: 1%;
    margin: 1% 10% 1% 10%;
    background-color:lightgrey;
}


.right {
  float:right;
}

.button{
  //margin: 1% 1% 1% 1%;
  padding: 0 1% 0 1%;
  border: 2px solid black;
  border-radius: 20%;
  font-size: small;

  //disable highlighting
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.button:hover{
	background-color:grey;
}
.button:active{
	background-color:#6495ED;
}

.codebox {
    /* Below are styles for the codebox (not the code itself) overflow:auto;*/
    border:1px solid black;
    background-color:#EEEEFF;
    width:300px;
    padding:10px;
    font-family: Consolas,monospace
}
