:root {
    --content-background-color: #e9f1fc;
    --content-text-color: black;
    --content-link-color: #174c9b;
    --footer-icon-color: darkgrey;

    /* Hidden in theme changer */
    --navbar-height: 3.25rem;
    --fa-size: 1.2rem;
    --footer-padding-size: 1rem;
    --content-padding: 1rem;
    --content-height: calc(
        100vh - 0.3rem
        - var(--navbar-height)
        - var(--footer-padding-size)
        - var(--fa-size)
        - var(--content-padding)
    );
}

a {
    color: var(--content-link-color);
}

#content {
    padding: var(--content-padding);
    background-color: var(--content-background-color);
    min-height: var(--content-height);
    color: var(--content-text-color);
}

.footer .fa { font-size: var(--fa-size); }
.footer { padding: var(--footer-padding-size) 0; }
.footer .social a {
    margin: 0 1rem;
    color: var(--footer-icon-color);
}

#resume { height: 100%; }
#resume embed, #resume iframe {
    width: 100%;
    height: calc(var(--content-height) - 2.5rem);
}

#jokes .spacer{ padding: .5rem; }
#jokes .columns { padding-bottom: 0; }
#jokes .column { margin: 0 1rem 1rem; }
#jokes .box .button {margin: 0 .2rem;}
#jokes .climber .fa{
  font-size: 10px;
  cursor: pointer;
}
#jokes .climber {
  font-size: 20px;
  border: 1px solid lightgray;
}

.subtitle-link {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25;
}
