:root {
    /*--background-color: #addcb7;*/
    --background-color: #e9f1fc;
    --navbar-height: 3.25rem;
    --fa-size: 1.2rem;
    --footer-padding-size: 1rem;
    --content-padding: 1rem;
    --content-height: calc(
        100vh - 0.3rem
        - var(--navbar-height)
        - var(--footer-padding-size)
        - var(--fa-size)
        - var(--content-padding)
    );
    /*Example changing variables using JavaScript: https://codepen.io/wesbos/pen/adQjoY*/
}


footer .fa {
    font-size: var(--fa-size);
}

#content {
    padding: var(--content-padding);
    background-color: var(--background-color);
    min-height: var(--content-height);
}

.footer {
    padding: var(--footer-padding-size) 0;
}

.footer .social a {
    margin: 0 1rem;
    color: darkgrey;
}

#resume { height: 100%; }

#resume embed, #resume iframe {
    width: 100%;
    height: calc(var(--content-height) - 2.5rem);
}

.space {
    padding-top: 1rem;
}